body {
    background-color: #FBFBF8; 
}
div{
    margin: 0 300px 0 300px;
    padding: 25px 25px; 
    text-align: center;
    
}
img {

    width: 190px;
}
h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif; 
    
}
h2 {
    text-align: center;
}
span {
    font-weight: bold;
}
p{
    font-size: 16px;
    font-style: normal;
}
a {
    text-align: center;
    text-decoration: none;
    border-radius: 15px 15px;
    padding: 8px 8px;
    background-color: #3FBF3F;
    color: #FFFFFF; 
   
}